<h1>HELLO!</h1>

<p>elapsed since page load: <span id="counter">0</span></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%= javascript_pack_tag 'counter' %>
